body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
}


.sidebar {
  width: 250px;
  background: #2c3e50;
  color: white;
  padding: 20px;
  /* Remover overflow-y para não permitir rolagem */
}

.song-list {
  list-style: none;
  padding: 0;
  max-height: calc(100vh - 40px); /* Ajustar altura para o espaço disponível */
  overflow-y: auto; /* Permitir rolagem apenas na lista de músicas */
}

.song-list li:hover {
  background: #34495e;
}

.song-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #34495e;
  display: flex; /* Usar flexbox para alinhar o texto e o botão */
  justify-content: space-between; /* Espaçar o texto e o botão */
  align-items: center; /* Centralizar verticalmente */
}

.song-list li button {
  margin-left: 10px; /* Espaçamento entre o texto e o botão */
  padding: 5px 10px; /* Estilo do botão */
  border: none;
  background: #2980b9;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.song-list li button:hover {
  background: #3498db; /* Efeito hover para o botão */
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Permitir rolagem na parte principal */
}

.controls {
  display: flex; /* Alterado para flexbox */
  justify-content: space-between; /* Para alinhar os botões na mesma linha */
  margin-bottom: 10px;
}

.set-key {
  display: grid; /* Manter como grid */
  grid-template-columns: repeat(
    5,
    0.1fr
  ); /* Máximo de 5 colunas para os botões de setKey */
  gap: 10px; /* Espaçamento entre os botões */
  align-items: center;
}

.set-key button {
  max-width: 50px;
}

.set-key span {
  grid-column: 3/6;
}

.overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #2980b9;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Para garantir que fique acima de outros elementos */ /* Altura máxima do overlay */
  overflow-y: auto; /* Permitir rolagem se o conteúdo exceder a altura */
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #2980b9;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #3498db;
}

#songDisplay {
  white-space: pre-wrap;
  font-family: monospace;
  background: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
}
